<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/groups/" method="get">
    <input name="group_name">
    <input name="submit" type="submit">
</form>

<a href="{% url 'groups-add' %}"> group ADD <br> </a>

{% for group in groups %}
    <a href="{% url 'groups-edit' pk=group.id %}"> groups EDIT </a>
    {{ group.id }}
    {{ group.group_name }}
    {{ group.group_size }}
    {{ group.group_email }}
<br>

{% endfor %}


</body>
</html>